@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Press+Start+2P&display=swap");
:root {
  --title-color: black;
  --button-color: black;
}
html {
  min-height: 100%;
  position: relative;
}
* {
  font-family: "Modern Antiqua", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.sign-up-or-login {
  min-width: 100px;
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.sign-up-or-login:hover {
  transform: scale(1.1);
}
.wrapper {
  overflow: auto;
  background-image: url("library.jpg");
  background-size: cover;
  position: absolute;
  padding: 2rem 0rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

header {
  padding: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-auto-columns: max-content;
  justify-items: center;
  align-items: center;
}
h1 {
  color: rgb(233, 218, 233);
  font-weight: 920;
  text-shadow: black 5px 5px 5px;
  font-size: 3rem;
}
input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
p {
  color: red;
  text-align: center;
  display: none;
}

input[type="text"],
input[type="number"] {
  position: relative;
  margin-bottom: 10px;
  width: 185px;
  height: 25px;
  font-size: 1.1em;
  border-radius: 5px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -150px;
  z-index: 4;
  width: 300px;
  height: 500px;
  padding: 0px 10px;
  background-color: rgb(207, 158, 93);
  border-radius: 10px;
  box-shadow: black 2px 2px 2px;
  transform: scale(0);
  font-size: 1.1em;
  font-weight: 900;
}
label {
  font-size: 1.5em;
}
.addBook {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  color: black;
  width: 70px;
  height: 70px;
  clip-path: circle(50% at 50% 50%);
  background-color: rgb(255, 166, 0);
  margin: 0px 15px 15px 0px;
  z-index: 5;
}
.plus-sign {
  font-size: 4.5rem;
  color: #000;
  display: block;
  font-family: sans-serif;
}
.addBook::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
  border-radius: 50px;
  background-color: rgb(69, 2, 255);
}

.addBook:hover::before {
  transform: scale(1);
}

.addBook:hover .plus-sign {
  color: white;
}

.addButton {
  color: var(--button-color);
  background-color: transparent;
  border: none;
  transition: color 0.2s ease-in-out;
  font-family: sans-serif;
}
.header-button {
  color: white;
}
.booksHolder {
  margin: auto;
  margin-top: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  width: min(1200px, 90%);
  gap: 15px;
  min-height: 400px;
  margin-bottom: 1rem;
}

.book {
  display: flex;
  box-shadow: rgb(233, 197, 197) 4px 4px 4px;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  text-align: center;
  height: 400px;
  background-color: wheat;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}
.book:hover {
  transform: scale(1.05);
}
h2 {
  font-size: 1.8em;
  color: rgb(97, 7, 78);
}
h3 {
  font-size: 1.5em;
}
#addABookHeader {
  color: rgb(18, 46, 70);
  font-size: 2.5em;
}
.cardButton {
  font-size: 1.7em;
  line-height: 40px;
  text-align: center;
  width: 150px;
  height: 40px;
  box-shadow: black 2px 2px 2px;
  font-weight: 900;
  border-radius: 5px;
  position: relative;
  padding: 0px 0px 25px 0px;
  z-index: 1;
}

.read::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  z-index: -1;
  transform-origin: left;
  border-radius: 5px;
  background-color: rgb(0, 225, 255);
}
.read:hover::before {
  transform: scaleX(1);
}

.read {
  background-color: rgb(33, 189, 173);
  transition: color 0.4s ease-in-out;
}
.read:hover {
  color: white;
}

.delete {
  background-color: tomato;
  transition: color 0.4s ease-in-out;
}
.delete::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  z-index: -1;
  transform-origin: left;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
}
.delete:hover::before {
  transform: scaleX(1);
}
.delete:hover {
  color: white;
}

.blur {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  .sign-up-or-login {
    font-size: 1.3rem;
    padding: 0.7rem 2.5rem;
  }
  .wrapper {
    padding: 2.5rem;
  }
  .addBook {
    height: 90px;
    width: 90px;
  }
}
